/*
Theme Name: Porto Child
Theme URI: https://www.portotheme.com/wordpress/porto
Author: P-THEMES
Author URI: https://www.portotheme.com/
Description: Porto Responsive WordPress + eCommerce Theme.
Version: 1.1
Template: porto
License: Commercial
License URI: http://themeforest.net/licenses/regular_extended
Tags: woocommerce, corporate, ecommerce, responsive, blue, black, green, white, light, dark, red, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
*/

/*************** ADD YOUR CUSTOM CSS HERE  ***************/

/* GUTENBERG-23: Do not collapse categories */
.widget_product_categories .widget-title .toggle {
	display: none;
}

/* ----------------------------------------- */
/* GUTENBERG-23: Highlight selected category */
ul.product-categories.book_category li.cat-item.current-cat > a {
	display:block;
	background-color: #544e4e;
	color: white;
	width: 100%;
	height: 100%;
}

ul li.cat-item {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 5px;
}

ul li.cat-item ul.children {
	margin: 2px 0px 2px 10px;
	padding-top: 2px;
}


span.book_categories {
	display:block;
}

/* GUTENBERG-32: Featured Products Slider */

.slider_wrapper { 
    /*border: #544e4e 1px solid; */
	margin: 3em 0;
	border-radius: 25px;
	padding: 25px 25px 0 25px;
	box-shadow: 0px 0px 5px -2px rgba(102,102,102,1);
	background-color: #ebeff2; 
}

.slider_wrapper .slider_wrapper_title { 
    position: relative; 
    top : -1.5em;
    margin-left: 1em;
	/*bottom: 0.5em;*/
	padding-left: 2em; 
	padding-right: 2em;
    display: inline;
    background-color: #2f2727; 
	border-radius: 10px;
	font-size: 1.5em;
	color: white;
}

@media screen and (max-width: 800px) {
	.slider_wrapper .slider_wrapper_title {
		position: relative; 
		font-size: 1em;
		margin-left: 0;
		top : -2.5em;
	}
}

.slider_wrapper .owl-stage {
	display: flex;
    flex-direction: row;
	height: 33vh;
}

.owl-stage .owl-item {
	flex: 1 0 0;
}

.owl-stage .owl-item .wcps-items.skin.flat {
	height: 100%;
	margin-bottom: 0;
	display: flex;
    flex-direction: column;

}

.owl-stage .owl-item .wcps-items.skin.flat .layer-media {
    height: 70%;
	width: auto;
}

.owl-stage .owl-item .wcps-items.skin.flat .layer-media .wcps-items-thumb {
    height: 100%;
}


.owl-stage .owl-item .wcps-items.skin.flat img {
    max-width: 100%;
    max-height: 100%;
	width: auto;
    height: auto;
	/*display: block;
    margin-left: auto;
    margin-right: auto;*/
}

.owl-stage .owl-item .wcps-items.skin.flat .layer-content {
	flex: 1 1 0;
	display: flex;
    flex-direction: column;
	padding-left: 0;
}

.owl-stage .owl-item .wcps-items.skin.flat .layer-content .wcps-items-title {
	padding: 0;
}

.owl-stage .owl-item .wcps-items.skin.flat .layer-content .wcps-items-price {
	flex: 1 1 0;
	display: flex;
	padding: 0;
}

.owl-stage .owl-item .wcps-items.skin.flat .layer-content .wcps-items-price * {
	align-self: flex-end;
}

.owl-stage .owl-item .wcps-items.skin.flat .layer-content .wcps-items-price span {
	font-size: 1.1em;
	font-weight: bold;
}


.owl-item .wcps-items-price ins {
	text-decoration: none;
	color:red;
	font-weight: bold;
}

.owl-carousel div.wcps-items-title a {
	color: black;
}

/* ------------ */

/* GUTENBERG-43: Book product page */
div.product_meta .book_language {
	margin-bottom: 2em;
	display: inline-block;
	font-style: italic;
}

@media screen and (max-width: 800px) {
	body {
		
	  }
	
	div.product-summary-wrap div.row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-start;
		align-content: flex-start;
	}
	
	
	div.summary-before.col-md-4 {
		max-width: 100% !important;
		height: auto;
	}

	div.summary.col-md-4 {
		max-width: 50% !important;
	}
  
}

div.product-summary-wrap .row {
	flex-wrap: nowrap;
	justify-content: space-between;
}

div.summary-before.col-md-4 {
	max-width: 45%;
}

div.summary.col-md-4 {
	max-width: 33.333333%;
}

div.summary.col-md-4-shrinkable {
	max-width: 33.333333%;
	flex-shrink: 2;
}


h2.product_title.entry-title {
	font-size: 1.6em;
}
/* --------------------------------- */

/* GUTENBERG-46: Additional Material */
/* for X items per row, set width to (100/X)% */
div.gut-file-repeater {
	width: 33%;
	display: inline-block;
	margin: 1em 0;
}

div.gut-file-repeater p.wp-caption-text {
	text-align: center;
}

div.gut-file-repeater span.wp-caption img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* --------------------- */

/* GUTENBERG-46:  Audiovisual Material */
div.book_video_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:  space-between;
}

div.book_video.nothumbnail {
	margin: 0.8em 0;
	width: 100%;
}

div.book_video.thumbnail {
	flex-grow: 1;
	max-width: 30%;
	margin: 0.8em 1.5%;
}

div.book_video_title {
	text-align: center;
	margin-top: 0.2em;
}

@media screen and (max-width: 800px) {

	div.book_video.thumbnail {
		flex-grow: 1;
		max-width: 100%;
		margin: 0.8em 0;
	}
}

.img-thumbnail {
	position: relative;
}

.img-thumbnail .inner {
	overflow: visible; /* Lightbox fix */
}
/* --------------------- */

/* GUTENBERG-46: Excerpt */
.img-excerpt-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
    border-style: solid;
	border-radius: 0.4em;
    border-width: 3.35em;
	border-top-color: transparent;
	border-left-color: transparent;
    border-right-color: red; /*#544e4e;*/
    border-bottom-color: red; /*#544e4e;*/
	width: 5em;
	height: 3.5em;

	z-index: 9;
	
}

.excerpt-text {
	position: absolute;
	top: 0;
	left: -3em;
	display: block;
	width: 8em;
	opacity: 1;
	transform: rotate(-45deg);
	z-index: 10;
	line-height: 1em;
	text-align: center;
	/*margin-bottom: 1.5em;*/
	font-size: smaller;
	color: #fff;
}

.white-popup {
  background: #000;
  width: auto;
  height: 75vh;
  max-width: 980px;
  margin: 5px auto;
}
/* --------------------- */

/* GUTENBERG-38: Book ISBN, publish year, pages, and size */

.book-info-blocks {
  margin: 4em 0;
  font-size: 0.8em;
}

.book-info-blocks .border-top {
	border-top: 1px solid grey;
}

.book-info-blocks .border-right {
	border-right: 1px solid grey;
}

.book-info-blocks div {
    height: 3em;
	line-height: 1em;
  	display: flex;
  	flex-direction: row;
	align-items: center;
}

.subcol-1 div {
 	flex-basis: 100%;	
  	padding: 0.2em;
	position: relative;
}

.subcol-1 span {
	margin: auto;
}

.subcol-3 div {
  	flex-basis: 25%;
  	padding: 0.1em;
	display: flex;
	flex-direction: row;
}

.book-info-block-value {
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 0.1em;
	white-space: pre;
}

.book-info-blocks .force-last {
	order: 99;
}

.book-info-blocks .force-first {
	order: 0;
}

.book-info-blocks .no-top-margin {
	margin-top: 0;
}

.book-info-blocks div div span {
	margin: auto 0.2em;
}

/* ---------------------------------------------------------- */

/* Product summary 3rd column, add to cart button & quantity */

p.price {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

p.price ins {
	padding-right: 1em;	
}

p.price ins .woocommerce-Price-amount.amount {
	color: red;
}
.summary .cart .quantity {
	display: none;
}

.sticky-product .single_add_to_cart_button,
.summary .cart .single_add_to_cart_button {
	border-radius: 15px;
	background-color: #544e4e;
	color: white;
	border: none;
	white-space: normal;
}

@media screen and (max-width: 1000px) { 
	.single_add_to_cart_button.button.alt::before {
		content:'';
	}
}
/* ---------------------------------------------------------- */
